<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dsapage.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Source Sans 3' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <nav class="navbar" >
                <a class="navbar-brand" href="#">
                    <img src="/media/logocc.jpg" width="30" height="30" class="logo" alt="">
                   
                </a>
                <p class="nav-title">CodeCanvas</p>
               
                <form class="form-inline">
                  <input class="search" type="search" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search" style="font-size:25px"></i>              
                </form>
              </nav>
             <div class="header">
                <h1 class="title"><%= data?.type %></h1>
            </div>
               
            <div class="def">
                <h2 class="headings def">Definition</h2>
                <p class="definition">
                    <% for(let desc of (data?.desc)) { %>
                        <%=desc%>
                        <br>
                     <% } %>              
                </p>
            </div>
       
            <div class="algo">
                <h2 class="headings">Algorithm</h2>
                <p class="steps">
                    <% for(let algo of (data?.algo)) { %>
                        <%=algo%>
                        <br>
                     <% } %>  
                </p>
            </div> 
           
           
            <div class="animation-code">
                <div class="animation-part">
                    <h2 class="headings">Animation</h2>
             
                <video width="820" height="495" class="topic-animation" controls>
                    <source src="/media/<%=data.animation%>" type="video/mp4">
                     Your browser does not support the video tag.
                </video> 
                <!-- <img src="background.png" class="bg"> -->
               
                </div>
               
                 <div class="code-part">
                    <h2 class="headings">Code</h2>
                    <div class="code">
                        <% for(let code of (data?.code)) { %>
                            <%=code%>
                            <br>
                         <% } %>      
                    </div>
                   
                </div> 
            </div>
           
        </div>
    </div>
 
</body>
</html>

